[submodule "library"]
	path = library
	url = https://github.com/galopago/kicad-symbols
	branch = RAK811
[submodule "modules"]
	path = modules
	url = https://github.com/galopago/kicad-footprints
	branch = RAK811-FOOTPRINT
[submodule "packages3D"]
	path = packages3D
	url = https://github.com/kicad/kicad-packages3D
